{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ listing.title }}</h2>
                {% if listing.image %}
                    <img src="{{ listing.image }}" class="img-fluid">
                {% endif %}
                <p class="card-text" style="font-size: 1.2em;">{{ listing.description }}</p>
                <h3 class="card-title">{{ listing.price }}$</h3>
                {% if listing.category %}
                                <h5 class="card-title">{{ listing.category }}</h5>
                {% endif %}
                <h4 class="card-subtitle mb-2 text-muted">Created on: {{ listing.date }}<br>By {{ listing.author }}</h4>
            </div>
        </div>
        <h2 class="card-title">Comments:</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'listing' id=listing.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            {% endif %}
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-titile">{{ comment.author }}</h4>
                        <p class="card-text">{{ comment.text }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.date }}</h5>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock body %}