{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% if listing in user.watchlist.all %}
                        <form action="{% url 'addwatchlist' id=listing.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class='btn btn-danger' name='remove'>Remove from watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'addwatchlist' id=listing.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class='btn btn-primary' name='add'>Add to watchlist</button>
                        </form>
                    {% endif %}
                {% endif %}
                <h2 class="card-title">{{ listing.title }}</h2>
                {% if listing.image %}
                    <img src="{{ listing.image }}" class="img-fluid">
                {% endif %}
                <p class="card-text" style="font-size: 1.2em;">{{ listing.description }}</p>
                <h3 class="card-title">{{ listing.price }}$</h3>
                {% if listing.category %}
                                <h5 class="card-title">{{ listing.category }}</h5>
                {% endif %}
                <h4 class="card-subtitle mb-2 text-muted">Created on: {{ listing.date }}<br>By {{ listing.author }}</h4>
            </div>
        </div>
        <div class="card" style='padding: 5px'>
            {% if user.is_authenticated %}
                <form action="{% url 'listing' id=listing.id %}" method="post">
                    {% csrf_token %}
                    {{ bid_form.as_p }}
                    <button type="submit" class="btn btn-primary" name='bid'>Place bid</button>
                </form>
            {% endif %}
            <h3 class="card-subtitle">{{ bids.count }} Bids total</h3>
            <h4 class="card-subtitle text-muted">Max bid is: {{ max_bid }}$</h4>
        </div>
        <h2 class="card-title">Comments:</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'listing' id=listing.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary" name='comment'>Add Comment</button>
                </form>
            {% endif %}
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-titile">{{ comment.author }}</h4>
                        <p class="card-text">{{ comment.text }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.date }}</h5>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock body %}